@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 225 6% 13%;
      --foreground: 0 0% 98%;

      --card: 225 6% 13%;
      --card-foreground: 0 0% 98%;

      --popover: 225 6% 13%;
      --popover-foreground: 0 0% 98%;

      --primary: 0 0% 98%;
      --primary-foreground: 240 5.9% 10%;

      --secondary: 240 3.7% 15.9%;
      --secondary-foreground: 0 0% 98%;

      --muted: 240 3.7% 15.9%;
      --muted-foreground: 240 5% 64.9%;

      --accent: 240 3.7% 15.9%;
      --accent-foreground: 0 0% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 0% 98%;

      --border: 220, 3%, 23%;
      --input: 220, 3%, 23%;
      --ring: 210, 1%, 10%;

      --radius: 0.5rem
    }
  }
  /* 220 4% 15% */

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

  @font-face {
    font-family: "googleSansRegular";
    src: local('googleSansRegular'),url("../font/GoogleSans-Regular.ttf") format("opentype");
  }

  @font-face {
    font-family: "googleSansMedium";
    src: local('googleSansMedium'),url("../font/GoogleSans-Medium.ttf") format("opentype");
  }

  @font-face {
    font-family: "googleSansBold";
    src: local('googleSansBold'),url("../font/GoogleSans-Bold.ttf") format("opentype");
  }

  h2{
    color: hsl(220, 3%, 23%)
  }