@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 0%;
      --foreground: 0 0% 100%;

      --card: 0 0% 10.2%;
      --card-hover: 0 0% 19.22%;
      --card-foreground: 0 0% 98%;

      --popover: 0 0% 10.2%;
      --popover-hover: 0 0% 19.22%;
      --popover-foreground: 0 0% 98%;

      --primary: 137.18 100% 59.61%;
      --primary-hover: 137.32 86.61% 56.08%;
      --primary-foreground: 240 5.9% 10%;

      --white: 0 0% 100%;
      --white-hover: 0 0% 94.12%;

      --secondary: 0 0% 20%;
      --secondary-hover: 0 0% 15%;
      --secondary-foreground: 0 0% 98%;

      --muted: 0 0% 10.2%;
      --muted-foreground: 240 5% 64.9%;

      --accent: 0 0% 20%;
      --accent-foreground: 0 0% 98%;

      --destructive: 350.86 100% 70.39%;
      --destructive-foreground: 0 0% 98%;

      --title: 0 0% 100%;
      --paragraph: 0 0% 50%;

      --border: 0 0% 20%;
      --border-hover: 0 0% 15%;
      --input: 0 0% 10.2%;
      --input-hover: 0 0% 20%;
      --ring: 137.18 100% 59.61%;

      --radius: 0.5rem
    }
  }
  /* 220 4% 15% */

  @layer base {
    * {
      @apply border-border;
    }

    html::-webkit-scrollbar {
      width: 10px;
    }
    
    html::-webkit-scrollbar-track {
      background-color: transparent;
    }
    
    html::-webkit-scrollbar-thumb {
      @apply transition-all duration-300;
      background-color: hsl(0 0% 10.2%);
      border-radius: 6px;
    }
    html::-webkit-scrollbar-thumb:hover {
      @apply transition-all duration-300;
      background-color: hsl(0 0% 20%);
      border-radius: 6px;
    }

    body {
      @apply bg-background text-foreground;
    }
  }

  @font-face {
    font-family: "googleSansRegular";
    src: local('googleSansRegular'),url("../font/GoogleSans-Regular.ttf") format("opentype");
  }

  @font-face {
    font-family: "googleSansMedium";
    src: local('googleSansMedium'),url("../font/GoogleSans-Medium.ttf") format("opentype");
  }

  @font-face {
    font-family: "googleSansBold";
    src: local('googleSansBold'),url("../font/GoogleSans-Bold.ttf") format("opentype");
  }

  .scrollY::-webkit-scrollbar {
    width: 8px;
  }
  
  .scrollY::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  .scrollY::-webkit-scrollbar-thumb {
    background-color: #1a1a1a;
    border-radius: 20px;
  }
  
  .scrollX::-webkit-scrollbar {
    height: 8px;
  }
  
  .scrollX::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  .scrollX::-webkit-scrollbar-thumb {
    background-color: #1a1a1a;
    border-radius: 40px;
  }

  /* tiptap.js style */

  .preScroll::-webkit-scrollbar {
    height: 8px;
  }
  
  .preScroll::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  .preScroll::-webkit-scrollbar-thumb {
    background-color: #333333;
    border-radius: 40px;
  }

  .no-before::before,
  .no-after::after {
  content: none;
}

.custom-highlight {
  @apply bg-primary text-background px-1 py-0.5 rounded-md;
}

.proseImage {
  @apply w-full object-cover rounded-md md:rounded-2xl aspect-[16/10];
}

/*  */